{% extends 'bull_bear/base.html' %}
{% load static %}

{% block footer %}
<div style="margin-top: auto; width: 100%;">
<hr />
      
<footer class="footer">
  <div></div>
  <div>
    <span>Created by: </span>
    <a href="https://www.bitcurate.com/" target="_blank">Bitcurate</a>,
    <a href="https://github.com/victorleejw" target="_blank">Victor</a>,
    <a href="https://github.com/siewchongche" target="_blank">Siew</a> &
    <a href="https://github.com/mandyzi" target="_blank">Mandy</a>
  </div>
</footer>
</div>
{% endblock %}